<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<form (ngSubmit)="onSubmit()">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-lg font-semibold leading-7 text-gray-900">
        Please select the type of investor you are.
      </h2>
      <p class="mt-1 text-md leading-6 text-gray-600">
        So that we help you customize and make you enjoy, you experience. Lets
        help you tailor make your experience <br />
        ( We'll get you set up so you cn get down to work. Help us customize
        your crunchbase experience)
      </p>
      <div class="mt-5">
        <!-- Button Selector Cards -->

        <div class="grid grid-cols-3 gap-4">
          <!-- Option 1: Own a Company Looking for Investors -->
          <button
            class="selector-card border border-gray-300 rounded-lg p-4 flex flex-col hover:border-indigo-400 hover:border-2"
            (click)="selectOption('ownCompany')"
            [ngClass]="{ selected: selectedOption === 'ownCompany' }"
            type="button"
          >
            <div class="flex items-center mb-2">
              <div
                class="icon-wrapper mr-2 bg-gray-200 rounded-full opacity-50 p-3"
              >
                <img
                  src="../../../assets/icons/company.png"
                  alt="Own a Company Icon"
                  height="40"
                  width="40"
                  class=""
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-lg font-bold">Own a Company</h3>

                <p class="text-gray-500 text-md">Looking for Investors.</p>
              </div>
            </div>
          </button>

          <!-- Option 2: New Investor Looking for Company to Invest -->
          <button
            class="selector-card border border-gray-300 rounded-lg p-4 flex flex-col"
            (click)="selectOption('newInvestor')"
            [ngClass]="{ selected: selectedOption === 'newInvestor' }"
            type="button"
          >
            <div class="flex items-center mb-2">
              <div
                class="icon-wrapper mr-2 bg-gray-200 rounded-full opacity-50 p-3"
              >
                <img
                  src="../../../assets/icons/investor.png"
                  alt="Own a Company Icon"
                  height="40"
                  width="40"
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-lg font-bold">New Investor</h3>

                <p class="text-gray-500 text-md">
                  Looking for Company to invest in.
                </p>
              </div>
            </div>
          </button>
          <!-- Option 3: Venture Capitalist -->
          <button
            class="selector-card border border-gray-300 rounded-lg p-4 flex flex-col"
            (click)="selectOption('ventureCapitalist')"
            [ngClass]="{ selected: selectedOption === 'ventureCapitalist' }"
            type="button"
          >
            <div class="flex items -center mb-2">
              <div
                class="icon-wrapper mr-2 bg-gray-200 rounded-full opacity-50 p-3"
              >
                <img
                  src="../../../assets/icons/venture.png"
                  alt="Venture Capitalist Icon"
                  height="40"
                  width="40"
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-lg font-bold">
                  Venture Capitalist
                </h3>

                <p class="text-gray-500 text-md">
                  Looking for Companies to invest in.
                </p>
              </div>
            </div>
          </button>

          <!-- option 4 product dev -->
          <button
            class="selector-card border border-gray-300 rounded-lg p-4 flex flex-col"
            (click)="selectOption('productDev')"
            [ngClass]="{ selected: selectedOption === 'productDev' }"
            type="button"
          >
            <div class="flex items -center mb-2">
              <div
                class="icon-wrapper mr-2 bg-gray-200 rounded-full opacity-50 p-3"
              >
                <img
                  src="../../../assets/icons/product.png"
                  alt="Product Dev Icon"
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-lg font-bold">
                  Product Development
                </h3>

                <p class="text-gray-500 text-md">Developing a product.</p>
              </div>
            </div>
          </button>

          <button
            class="selector-card border border-gray-300 rounded-lg p-4 flex flex-col"
            (click)="selectOption('other')"
            [ngClass]="{ selected: selectedOption === 'other' }"
            type="button"
          >
            <div class="flex items -center mb-2">
              <div
                class="icon-wrapper mr-2 bg-gray-200 rounded-full opacity-50 p-3"
              >
                <img
                  src="../../../assets/icons/other.png"
                  alt="Product Dev Icon"
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-lg font-bold">Other</h3>

                <p class="text-gray-500 text-md">If none of the above.</p>
              </div>
            </div>
          </button>
        </div>
      </div>

      <h2 class="text-lg font-semibold leading-7 text-gray-900 mt-5">
        Location
      </h2>
      <div class="mt-4">
        <!-- Button Selector Cards -->

        <div class="grid grid-cols-3 gap-4">
          <!-- Option 1: Own a Company Looking for Investors -->
          <button
            class="selector-card border border-gray-300 rounded-lg p-2 flex flex-col hover:border-indigo-400 hover:border-2"
            (click)="selectLocation('local')"
            [ngClass]="{ selected: selectedLocation === 'local' }"
            type="button"
          >
            <div class="flex items-center mb-2">
              <div
                class="icon-wrapper mr-2 bg-yellow-200 rounded-full opacity-80 p-2"
              >
                <img
                  src="../../../assets/icons/zimbabwe.png"
                  alt="Own a Company Icon"
                  height="40"
                  width="40"
                  class=""
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-md font-semibold">Currently In Zimbabwe</h3>

              </div>
            </div>
          </button>

          <!-- Option 2: New Investor Looking for Company to Invest -->
          <button
            class="selector-card border border-gray-300 rounded-lg p-2 flex flex-col"
            (click)="selectLocation('outside')"
            [ngClass]="{ selected: selectedLocation === 'outside' }"
            type="button"
          >
            <div class="flex items-center mb-2">
              <div
                class="icon-wrapper mr-2 bg-gray-blue-200 rounded-full opacity-80 p-2"
              >
                <img
                  src="../../../assets/icons/global.png"
                  alt="Own a Company Icon"
                  height="40"
                  width="40"
                />
              </div>
              <div class="flex flex-col items-start ml-3">
                <h3 class="option-title text-md font-semibold">Out Side Zimbabwe</h3>


              </div>
            </div>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="text-md font-semibold leading-6 text-gray-900">
      Cancel
    </button>
    <button
      type="button"
      (click)="onSubmit()"
      class="rounded-md bg-indigo-600 px-4 py-3 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Get Started
    </button>
  </div>
</form>
